<a href="https://colab.research.google.com/github/Elina-Nik/nothing/blob/main/order.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
def max(list_num):
    x = list_num[0]
    for i in range(1 , len(list_num)):
        if list_num[i] > x:
            x = list_num[i]
    return x

list_numbers = [1 , 2 , 3 , 4 , 5 , 6]
print(max(list_numbers))

6

In [2]:
def f(x , y , n):
    if x > y:
        for i in range(n):
            print(i)
    else:
        for i in range(n):
            for j in range(n):
                print(i , j)

f(3 , 4 , 6)

0 0
0 1
0 2
0 3
0 4
0 5
1 0
1 1
1 2
1 3
1 4
1 5
2 0
2 1
2 2
2 3
2 4
2 5
3 0
3 1
3 2
3 3
3 4
3 5
4 0
4 1
4 2
4 3
4 4
4 5
5 0
5 1
5 2
5 3
5 4
5 5

In [3]:
def unique(s):
    for j in range(len(s)):
        for i in range(j + 1 , len(s)):
            if s[j] == s[i]:
                return False
    return True
a = [1 , 4 , 5 , 7 , 3 , 9 , 9]
print(unique(a))
b = [55 , 77 , 34 , 79, 11, 5, 8 , 3, 36]
print(unique(b))

False
True

In [4]:
def avg(s):
    n = len(s)
    a = [0] * n
    for j in range(n):
        total = 0
        for i in range(j + 1):
            total += s[i]
        a[j] = total // (j + 1)
    return a

list_num = [10 , 20 , 30]
print(avg(list_num))

[10, 15, 20]

In [6]:
def avg(s):
    n = len(s)
    a = [0] * n
    total = 0
    for i in range(n):
        total += s[i]
        a[i] = total // (i + 1)
    return a

list = [10 , 20 , 30]
print(avg(list))

[10, 15, 20]

In [7]:
def disjoint(a , b , c):
    for i in a:
        for j in b:
            if (i == j):
                for k in c:
                    if (i == k):
                        return False
    return True
lst_a = [1 , 2 , 3 , 4]
lst_b = [3 , 4 , 5 , 6]
lst_c = [5 , 6 , 7 , 8]
print(disjoint(lst_a , lst_b , lst_c))

True

In [8]:
def r(a):
    n = len(a)
    x = [None] * n
    for i in range(n):
        x[n - 1 - i] = a[i]
    return x
num = [1 , 2 , 3 , 4]
print(r(num))

[4, 3, 2, 1]

In [9]:
def r(a):
    n = len(a)
    x = [None] * n
    for i in range(n // 2):
        x[i] = a[n - 1 - i]
        x[n - 1 - i] = a[i]
    return x
num = [1 , 2 , 3 , 4]
print(r(num))

[4, 3, 2, 1]